body {
    background-image: url('https://static.vecteezy.com/system/resources/previews/002/949/141/non_2x/programming-code-coding-or-hacker-background-vector.jpg');
    background-size: 100% 1000%;
    background-repeat: no-repeat;
    background-position: center;
}



h1 {
    color: rgba(0, 0, 0, 0.966);
  }


h3 {
    color: rgba(0, 0, 0, 0.966);
}

